.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px white;
    border-radius: 15px;
    background-color: rgb(164, 210, 234);
  }

  body {
    background-color: rgb(139, 177, 198);
  }